<%- include("template/cabecera", {tituloweb: 'Pagina de inicio'} ) %> 
    <div class="container">
        <div>
            <nav class="navbar navbar-light bg-light mt-3 rounded justify-content-between">
                <a class="navbar-brand">Pedidos</a>
                <form class="form-inline">
                  <a class="btn btn-outline-success my-2 my-sm-0" type="submit" href="/pedidos/crear">Crear</a>
                </form>
              </nav>
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID Pedido</th>
                <!--<th scope="col">Nombre</th>-->
                <th scope="col">Direccion</th>
                <th scope="col">Numero</th>
                <th scope="col" >Ingredientes</th>
                <th scope="col">Acción</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
                <% if (arrayPedidos.length > 0) { %>
                    <% arrayPedidos.forEach(pedido => { %>
                        <tr>
                            <th scope="row"><%= pedido.id %> </th>
                            <!--<td><%= pedido.nombre %> </td>-->
                            <td><%= pedido.direccion %> </td>
                            <td><%= pedido.numero %> </td>
                            <td><%= pedido.ingrediente %></td>
                            <td><a href="pedidos/<%= pedido.id %> " class="btn btn-outline-secondary">Editar</a></td>
                         </tr>
                    <% }) %>
                <% } %>
              </tbody>
          </table>
    </div>  
<%- include("template/footer") %> 